*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(kepek/bg3.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
main {
    width: 60%; 
}
header{
    border: 1px solid black;
    background-image: url(kepek/header.jpg);
    background-size: cover;
    height: 250px;
}
nav{
    border: 1px solid red;
}
article{
    border: 1px solid green;
}
aside{
    border: 1px solid blue;
}
footer{
    border: 1px solid purple;
}
.row{
    margin: auto;
}