*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'headerFont';
    src: url(font/horror.otf);
}

body{
    background-image: url(kepek/bg3.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
main {
    width: 60%; 
    background-color: #171717;

}
header{
    border: 1px solid black;
    background-image: url(kepek/header.jpg);
    background-size: cover;
    height: 250px;
}
header h1 {
    font-family: 'headerFont';
    color: green;
}
.form-label {
    color: white;
}

/* nav{
    border: 1px solid red;
}
article{
    border: 1px solid green;
}
aside{
    border: 1px solid blue;
}
footer{
    border: 1px solid purple;
} */
.row{
    margin: auto;
}

.horrorFormTajekoztatas {
    color: white;
}